body{
    font-family: Arial;
    background-color: #c5237c;
}

#container{
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
}

#convert{
    margin-top: 10%;
    background-color: #99004d;
    color: white;
    
}

#clear{
    margin-top: 1%;
    background-color: rgb(15, 1, 10);
    color: rgb(255, 255, 255);
}

#clear:hover{
    background-color:	#99004d ;
}

#convert:hover{
    background-color: #000000;
}

h1{
    font-family: 'Calibri Light ';
    color: rgb(255, 255, 255);
    font-size: 2em;
}

input{
    display: block;
    padding: 10px;
    padding-right: 170px;
    margin-top: 10px;
    font-size: 1.5em;
    font-family: Arial;
    background-color: #c1c1dd;
}

button{
    padding: 15px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);  
    margin: 10%;
}

footer{
    text-align: center;
    font-size:0.5em; 
    margin-top: 8%;
}

img{
    width: 35%;
}